/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-top: 20px;
 }

.footer {
    background-color: transparent;
 }

body {
    background-color: #ffffff;
    background-image: url("../images/01.png");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    color: #ffffff;
    text-align: center;
}

.intro {
    margin-top: 100px;
    font-size: 25px;
    color: #000000;
}

.text {
    color: #000000;
  
}

.tombol {
    font-weight: bold;
    border-radius: 35px;
    background-color: 0 solid red;
    Font-size: 18px;
}